/*
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Typography
# Normalize
# Header
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html, body {
    background-color: #02a3d9;
    color:#000;
    margin: 0;
    font-family: 'Myriad Pro';
    	font-weight: 300;
	font-style: normal;
}

::-webkit-input-placeholder {
 color:rgba(0, 0, 0, 0.3);
}
:-moz-placeholder {
 color:rgba(0, 0, 0, 0.3);
}
::-moz-placeholder {
 color:rgba(0, 0, 0, 0.3);
}
:-ms-input-placeholder {
 color:rgba(0, 0, 0, 0.3);
}

li, a, h1, h2, h3, h4, h5, h6 {
    color:#000;
    text-decoration: none;
    line-height: 1.5em;
    margin: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.wrapper_95 {
    width: 95%;
    margin: 0 auto;
    height: inherit;
          display: flex;
  align-items: center;
  justify-content: center;
}

div.site_content {
    margin-top: 87px;
}

.color_blue {
    color:#02a3d9;
    margin-right: 20px;
}
strong {
    color:#000;
    font-family: 'Myriad Pro Bold';
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site_header{
    position: fixed;
    top:0;
    width: 100%;
    height: 87px;
    background-color: #fff;
    z-index: 9;

}
.wrapper_95#header_style {
/*        overflow: hidden;*/
      display: flex;
  align-items: center;
  justify-content: center;
}
.site_branding {
    padding-top: 10px;
    width: 200px;
    float: left;
    
}
.site_branding img {
    width: 100%;
}

.site_navigation {
    float: right;
    text-align: right;
    width: calc(100% - 230px);
}
.site_navigation ul {
    width: 100%;
}
.site_navigation ul li {
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14pt;
    margin-left: 1em;
    position: relative;
}
.site_navigation ul li.current-menu-item {
    color:#000;
    border-bottom: 1px solid #02a3d9;
}
.site_navigation ul li a {
    color:#393a4b
}
#menu-item-28 > a,
#menu-item-24  > a{
    color:#000;
    font-family: 'Myriad Pro Bold';
    font-size: 15pt;
}
.site_navigation ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #02a3d9;
}
.site_navigation ul.sub-menu li:last-child {
    background: transparent;
    padding: inherit;
    font-size: inherit;
    text-transform: uppercase
}
.site_navigation ul li:last-child {
    background-color: #02a3d9;
    padding: 12px 40px 10px;
    font-size: 16pt;
    text-transform: none;
}
.site_navigation ul li:last-child a {
    color:#fff;
}
.site_navigation ul.sub-menu li:last-child a {
    color:#000;
}
.site_navigation ul li:last-child a:hover {
    border-bottom: 0;
}

ul.sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    background: #fff;
    z-index: 99;
    padding: 10px 0;
    display: none;
}
.site_navigation ul li.menu-item-has-children:hover > ul.sub-menu {
    display: block;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-color:#323343;
}
footer .wrapper {
    width:90%;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
}
footer li {
    color:rgba(255, 255, 255, 0.9);
    font-size: 15px;
}
footer p {
    margin: 0;
    color:rgba(255, 255, 255, 0.5);
     font-size: 15px;
}
footer .footer_block_left {
    display: inline-block;
    width: 49%;
}
footer .footer_block_right {
    display: inline-block;
    width: 49%;
    text-align: right;
}
footer .footer_block_right p {
    font-size: 13px;
}

.footer_social {
    position: absolute;
    top:50px;
    left: 0;
    right:0;
    margin: auto;
    text-align: center;
}
.footer_social img {
    width: 70px;
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/

section.jumbotron {
    height: 700px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
          display: flex;
  align-items: center;
  justify-content: center;
}

section.jumbotron h1 {
    text-align: center;
    color:#fff;
    font-size: 60pt;
    text-transform: uppercase;
    margin: 0;
    line-height: 1em;
    letter-spacing: 0.025em;
    background-color: rgba(2, 163, 217, 0.65);
    padding: 15px 30px 5px;
}
section.jumbotron h1 span {
    text-transform: lowercase;
    font-style: italic;
}

/*--------------------------------------------------------------
# Announce
--------------------------------------------------------------*/
section.announce {
    height: 270px;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section.announce h2 {
    text-transform: uppercase;
    font-size: 25pt;
    letter-spacing: 0.015em;
    line-height: 1.75em;
        width: 90%;
    margin: 0 auto;
    text-align: center;
}
section.announce h3#date {
    color:#02a3d9;
    font-size: 30pt;
    letter-spacing: 0.015em;
    line-height: 1.75em;
}
section.announce p {
    font-size: 15pt;
    line-height: 1em;
}


/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
section.details {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section.details .top_half,
section.details .bottom_half{
    text-align: center;
}
section.details .top_half {
    padding-bottom: 10px;
    border-bottom: 2px solid #e8e8e8;
    width: 50%;
    max-width: 1080px;
}
section.details .top_half h2 {
    text-transform: uppercase;
    font-size: 40pt;
    color:#bababa;
    letter-spacing: 0.025em;
    margin-bottom: 50px;
}
section.details .top_half  h3 {
    font-size: 30pt;
    letter-spacing: 0.015em;
    line-height: 1.75em;
}
section.details .top_half h3 i {
    color:#393a4b;
}
section.details .top_half h4 {
     font-size: 25pt;
    color:#393a4b;
}
.bottom_half {
    padding-top: 50px;
}
section.details .bottom_half {
    padding-bottom: 20px;
    width: 55%;
    max-width: 1150px;
}
section.details .bottom_half p {
    font-size: 13pt;
    line-height: 1.5em;
    overflow: hidden;
}
section.details .bottom_half p strong {
    font-weight: bold;
}
section.details .bottom_half h4 {
    background-color: #02a3d9;
    padding: 12px 40px 10px;
    font-size: 14pt;
    max-width: 150px;
    color:#fff;
    text-transform: uppercase;
    display: block;
    margin:15px auto;
    letter-spacing: 0.075em;
}
section.details .bottom_half h4.left {
/*    float: left;*/
}
section.details .bottom_half h4.right {
    float: right;
}
section.details .details_banner {
    width:85%;
    height: 480px;
    margin-top: 50px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}


/*--------------------------------------------------------------
# Auction Terms
--------------------------------------------------------------*/
section.auction_terms {
    background-color: #fff;
}
section.auction_terms .wrapper {
    width: 70%;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.auction_terms_header {
    text-align: center;
    margin-bottom: 50px;
}
.auction_terms_header img {
    width: 40px;
    margin-bottom: 20px;
    opacity: 0.15;
}
.auction_terms_header h2  {
        font-size: 22pt;
    letter-spacing: 1px;
    color: #393a4b;
    text-transform: uppercase;
}
.terms_left {
    display: inline-block;
    padding: 20px 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.terms_right {
    display: inline-block;
        margin-left: 20px;
    margin-right: 20px;
    padding: 20px 40px;
    
    cursor: pointer;
}
.terms_left_content ul li,
.terms_right_content ul li {
    margin-bottom: 20px;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.7);
}
.clothed {
    border-bottom: 1px solid #02a3d9;
}
.hue{
    opacity: 1 !important;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
section.contact {
    background-color: #e8e8e8;
        padding-top: 70px;
    padding-bottom: 70px;
}
section.contact h2 {
    text-transform: uppercase;
    font-size: 40pt;
    color:#bababa;
    letter-spacing: 0.025em;
    margin-bottom: 50px;
    text-align: center;
}
section.contact p {
   color:rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact input[type="tel"], 
#contact input[type="url"], 
#contact textarea, 
#contact button[type="submit"] { 
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}

#contact,
form.wpcf7-form{
	padding:25px;
	margin:50px 0;
    width: 50%;
    max-width: 690px;
    margin: 0 auto;
}
form.wpcf7-form input[type="text"], 
form.wpcf7-form input[type="email"], 
form.wpcf7-form textarea, 
form.wpcf7-form input[type="submit"] { 
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}


fieldset {
	border: medium none !important;
	margin: 0 0 25px;
	padding: 0;
	width: 100%;
}


form.wpcf7-form input[type="text"], form.wpcf7-form input[type="email"], form.wpcf7-form textarea {
	width:100%;
	border:1px solid #CCC;
	background:transparent;
	margin:0 0 5px;
	padding:15px;
        font-size: 13pt;
    line-height: 1.5em;
    overflow: hidden;
        margin-bottom: 20px;
}

form.wpcf7-form input[type="text"]:hover, form.wpcf7-form input[type="email"]:hover, form.wpcf7-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #02a3d9;
}

#contact textarea,
form.wpcf7-form textarea{
	height:100px;
	max-width:100%;
  resize:none;
}

form.wpcf7-form input[type="submit"]{
	cursor:pointer;
	border:none;
	background:#02a3d9;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    background-color: #02a3d9;
    padding: 12px 40px 10px;
    font-size: 14pt;
    width: 250px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    height: 60px;
    margin-top: 10px;
    letter-spacing: 0.075em;
}

#contact button[type="submit"]:hover,
form.wpcf7-form input[type="submit"]:hover{
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active,
form.wpcf7-form input[type="submit"]:active{ 
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
form.wpcf7-form input:focus, form.wpcf7-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
.float_left_50 {
    float: left;
    width:47%;
    white-space: normal;
}
.float_right_50 {
    float: right;
    width:47%;
    white-space: normal;
}



            .upcoming_auctions {
                background: #fff;
                padding-top: 75px;
                padding-bottom: 75px;
            }
            .upcoming_auctions .wrapper {
                width: 90%;
                max-width: 1000px;
                margin: 0 auto;
                overflow: hidden;
            }
            .auction_block {
                text-align: center;
                width: 43%;
                margin-left: 3%;
                margin-right: 3%;
                border: 1px solid #e8e8e8;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
                border-radius: 2px;
                float: left;
            }
            .auction_block:hover {
                transition: 1s all ease-in-out;
                border-color: #02a3d9;
            }
            .auction_bg {
                width: 100%;
                height: 350px;
                background-size: cover;
                background-position: center;
            }
            .auction_details {
                padding-top: 25px;
                padding-bottom: 25px;
            }
            .auction_details h4 {
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: 0.015em;
                line-height: 1.75em;
            }
            .auction_details p {
                color:#02a3d9;
                font-size: 18px;
            }


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media screen and (max-width:1000px) {
    .site_navigation ul li {
        display: none;
    }
    .site_navigation ul li:last-child {
        display: inline;
    }
}
@media screen and (max-width:690px) {
    body {
        overflow-x: hidden;
    }
    .site_navigation ul li:last-child {
        display: none;
    }
    section.jumbotron {
        height: 400px;
    }
    section.jumbotron h1 {
        font-size: 30pt;
        text-align: center;
    }
    section.details .top_half {
        width: 90%;
    }
    section.details .bottom_half {
        width: 90%;
    }
    section.details .bottom_half h4.left,
    section.details .bottom_half h4.right{
        display: block;
        float: none;
        margin: 0 auto 10px;
        width: 100%;
        padding-left:0;
        padding-right: 0;
    }
    section.details .details_banner {
        height: 300px;
    }
    section.auction_terms .wrapper {
        width: 90%;
    }
    #contact,
    form.wpcf7-form{
        width: 90%;
        padding: 0;
    }
    form.wpcf7-form button[type="submit"] {
        width: 100%;
    }
    .float_left_50,
    .float_right_50{
        float: none;
        width:100%;
    }
    
    form.wpcf7-form input,
    form.wpcf7-form textarea {
                padding-left:0 !important;
        padding-right:0 !important;
    }
    footer .footer_block_right {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    
    .footer_social {
        left: auto;
        right: 20px;
    }
    .auction_block {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    
}
